@charset "UTF-8";
form,h{
    width: 400px;
    border: 6px solid rgba(0, 0, 0, 0.128)  ;
    border-width: 50%;
    border-radius: 12px;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.128)  ;
    margin: 80px 550px;
  }
  input,h{
    margin: 8px 0;
    padding: 12px 20px;
    border: 3px solid rgba(0, 0, 0, 0.623);
    border-radius: 4px;
  }
  input:focus{
    background-color: rgba(0, 0, 0, 0.3);
  }
  form,input,select,option,h1,h2{
    text-align: center;
    font-family: "Lucida Handwriting",Cursive;
    font-style: italic;
  }    
  body,h{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
  }
  h1 ,h2{
    font-size: 2em;
  }