<%- include('header.ejs') %>
    <form>
        <h1><%=account%>未註冊</h1>
        <p><a href="/user/loginui">重新登入</a></p>
        <p><a href="/user/registerui">帳號註冊</a></p>
    </form>
<%- include('footer.ejs') %>
