<%- include('header.ejs') %>
    <form method="get">
        <p>Account:<%=account%> 帳號已被別人使用過！</p>
        <p><a href="/user/registerui">重新註冊</a></p>
        <p><a href="/">首頁</a></p>
    </form>
<%- include('footer.ejs') %>