<%- include('header.ejs') %>
    <form method="get">
        <p><%=account%>註冊成功</p>
        <p><a href="/user/loginui">帳號登入</a></p>
        <p><a href="/user/registerui">繼續註冊</a></p>
        <p><a href="/">首頁</a></p>
    </form>
<%- include('footer.ejs') %>